mat-tree-node {
  display: flex;
  align-items: center;
  padding: 0 24px;
  font-size: medium;
  background-color: #50e7c5;
  font-weight: 400;
  color: #000000;
  border-radius: 12px;
  margin: 8px 0;
}

.example-tree-node-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.example-trash-button {
  margin-left: 8px;
}