<mat-progress-bar *ngIf="progressService.visible" mode="indeterminate"></mat-progress-bar>
<div class="container grid 2/5--desk">
   <div class="grid__cell">
   <p><b>You are importing other user shopping list, do you want to proceed?</b></p>
   <h2>Products:</h2>
   <mat-list>
         <mat-list-item *ngFor="let listItem of details?.items" class="item-to-import">
            <span matListItemTitle>{{listItem.productName}}</span>
            <span matListItemLine>{{listItem.categoryName}}</span>
         </mat-list-item>
      </mat-list>
   <button mat-button mat-flat-button color="primary" style="margin: 8px"
   (click)="onImportCancelledClicked()">Cancel</button>
   <button [disabled]="!importButtonEnabled" style="margin: 8px" mat-button mat-flat-button color="primary"
   (click)="onImportButtonClicked()">Import</button>
   </div>
</div>
