<div class="container">
	<form mat-form [formGroup]="loginForm" (ngSubmit)="save()" autocomplete="on">
			<div class="grid">
				<div class="grid__cell">
					<mat-form-field  appearance="fill">
						<mat-label>Login</mat-label>
						<input matinput formControlName="login" matInput autocomplete="username">
					</mat-form-field>
				</div>
				<div class="grid__cell">
					<mat-form-field appearance="fill">
						<mat-label>Enter your password</mat-label>
						<input formControlName="password" matInput [type]="hide ? 'password' : 'text'" autocomplete="current-password">
						<button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
						[attr.aria-pressed]="hide" type="button">
						<mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
					</button>
				</mat-form-field>
				</div>
			</div>
		<button mat-button mat-flat-button type="submit" color="primary">Submit</button>
	</form>
</div>
