.container {
  margin: 24px;
}

mat-tree-node {
  display: flex;
  align-items: center;
  padding: 0 24px;
  font-size: medium;
  background-color: #50e7c5;
  font-weight: 400;
  color: #000000;
  border-radius: 12px;
  margin: 8px 0;
}


.example-tree-node-content {
  display: flex;
  align-items: center;
  height: 40px;
  cursor: pointer;
  padding: 0 16px;
}

.example-tree-node-content:hover {
  background-color: #389b84;
  border-radius: 12px;
}

.disabled {
  cursor: none;
  pointer-events: none;
  color: #439a86;
}

.action-buttons-container {
  display: contents;
  margin-right: 16px;
  margin-top: 32px;

  button {
    margin-left: 8px;
  }
}

.action-grid {
  margin-top: 16px;
  margin-right: 8px;

}